# LIST
- list.append(x)
- list.extend(iterable)
- list.insert(i, x)
- list.remove(x)
- list.pop([i])
- list.clear()
- list.index(x[, start[, end]])
- list.count(x)
- list.sort(key=None, reverse=False)
- list.reverse()
- list.copy()

__For more stuffs about [Lists](https://docs.python.org/3/tutorial/datastructures.html) refer to the given link__

In [2]:
l1 = [1, 2, 3, 1, 4, 2, 2, 5, 2]
l1

[1, 2, 3, 1, 4, 2, 2, 5, 2]

In [3]:
l1.append(15) # add 15 at the end of l1
l1

[1, 2, 3, 1, 4, 2, 2, 5, 2, 15]

In [4]:
l2 = [16, 17, 16, 18, 20]
l1.extend(l2) # adds the list l2 to l1
l1

[1, 2, 3, 1, 4, 2, 2, 5, 2, 15, 16, 17, 16, 18, 20]

In [5]:
l1.insert(3, 8) # at position 3 insert the value 8
l1

[1, 2, 3, 8, 1, 4, 2, 2, 5, 2, 15, 16, 17, 16, 18, 20]

In [6]:
l1.remove(2) # removes the first item in the list whose value is equal to 2
l1

[1, 3, 8, 1, 4, 2, 2, 5, 2, 15, 16, 17, 16, 18, 20]

In [7]:
l1.pop() # remove the last element
l1

[1, 3, 8, 1, 4, 2, 2, 5, 2, 15, 16, 17, 16, 18]

In [8]:
l2.clear() # clears the list
l2

[]

In [9]:
l1.index(8) # index of first element with value equal to 8

2

In [10]:
l1.count(2) # counts the number of times 2 is in present in the list

3

In [11]:
l1.sort()
l1

[1, 1, 2, 2, 2, 3, 4, 5, 8, 15, 16, 16, 17, 18]

In [12]:
l1.reverse()
l1

[18, 17, 16, 16, 15, 8, 5, 4, 3, 2, 2, 2, 1, 1]

In [13]:
l3 = l1.copy()
l3

[18, 17, 16, 16, 15, 8, 5, 4, 3, 2, 2, 2, 1, 1]

***
# Installing Numpy

The only prerequisite for NumPy is Python itself. If you donâ€™t have Python yet and want the simplest way to get started, we recommend you use the Anaconda Distribution - it includes Python, NumPy, and other commonly used packages for scientific computing and data science.

## CONDA
conda install numpy<br>
To Download [Anaconda](https://www.anaconda.com/products/individual) follow this link

## PIP
pip install numpy<br>
To Download [pip](https://pypi.org/project/pip-download/#files) follow this link

__Refer to the Official website of [Numpy](https://numpy.org/doc/stable/index.html) for more details__

## Import Numpy

In [14]:
import numpy as np

## Numpy Array

In [15]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [16]:
a[0]

array([1, 2, 3])

In [17]:
print(np.array([1,2]))

[1 2]

In [18]:
c = [1,2,3,4,5,6,7,8]
c

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
type(c)

list

In [20]:
c = np.array(c)
c

array([1, 2, 3, 4, 5, 6, 7, 8])

In [21]:
type(c)

numpy.ndarray

In [22]:
np.zeros([2, 3])

array([[0., 0., 0.],
       [0., 0., 0.]])

In [23]:
np.ones([3, 4])

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [24]:
np.empty([3,2])

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

## np.arange()

To create sequences of numbers, NumPy provides the arange function which is analogous to the Python built-in range, but returns an array.

In [25]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
b = np.arange(15)
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [27]:
b.dtype

dtype('int32')

In [28]:
type(b)

numpy.ndarray

In [29]:
np.arange(10, 50, 5) # An array from 10 to 50 with step size 5

array([10, 15, 20, 25, 30, 35, 40, 45])

In [30]:
np.arange(1, 3, 0.3) # Arguments can also take float value

array([1. , 1.3, 1.6, 1.9, 2.2, 2.5, 2.8])

## np.concatenate

In [31]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])
np.concatenate((a, b))

array([1, 2, 3, 4, 5, 6, 7, 8])

## ndarray.ndim, ndarray.size, ndarray.shape

In [32]:
arr = np.array([[[0, 1, 2, 3],
                            [4, 5, 6, 7]],

                           [[0, 1, 2, 3],
                            [4, 5, 6, 7]],

                           [[0 ,1 ,2, 3],
                            [4, 5, 6, 7]]])
arr

array([[[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]]])

In [33]:
arr.ndim # Number of Axes

3

In [34]:
arr.size # Total number of elements of the array

24

In [35]:
arr.shape # Number of elements stored along each dimension of the array

(3, 2, 4)

## ndarray.reshape

In [36]:
arr.reshape(6,4)

array([[0, 1, 2, 3],
       [4, 5, 6, 7],
       [0, 1, 2, 3],
       [4, 5, 6, 7],
       [0, 1, 2, 3],
       [4, 5, 6, 7]])

## Uses of Numpy

In [37]:
# 1D array to 2D array
a = np.array([1,2,3,4,5,6,7,8])
a.shape

(8,)

In [38]:
a

array([1, 2, 3, 4, 5, 6, 7, 8])

In [39]:
b = np.expand_dims(a, axis=1)
b

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8]])

In [40]:
a = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [41]:
b = a[a>5]
b

array([ 6,  7,  8,  9, 10, 11, 12])

In [42]:
d2 = a[a%2 == 0]
d2

array([ 2,  4,  6,  8, 10, 12])

## Easy Array Operations

In [43]:
data = np.array([[3, 4], [5, 6], [2,7]])
print("Data", data)
ones = np.ones(2, dtype=int)
print("Ones", ones)

Data [[3 4]
 [5 6]
 [2 7]]
Ones [1 1]

In [44]:
data + ones

array([[4, 5],
       [6, 7],
       [3, 8]])

In [45]:
data - ones

array([[2, 3],
       [4, 5],
       [1, 6]])

In [46]:
data * data

array([[ 9, 16],
       [25, 36],
       [ 4, 49]])

In [47]:
data / data

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [48]:
a = np.array([2,3,5,6])
a

array([2, 3, 5, 6])

In [49]:
b = a .reshape(2,2)
b

array([[2, 3],
       [5, 6]])

In [50]:
b.sum(axis = 0) # Row wise Sum

array([7, 9])

In [51]:
b.sum(axis = 1) # Column wise Sum

array([ 5, 11])

In [52]:
data

array([[3, 4],
       [5, 6],
       [2, 7]])

In [53]:
data.max()

7

In [54]:
data.min()

2

In [55]:
data.max(axis = 0)

array([5, 7])

In [56]:
data.max(axis = 1)

array([4, 6, 7])